@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }

  #navContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 63px;
    background-color: #fff;
    top: 0;
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 10;
  }

  .head-logo {
    width: 50%;
  }

  .head-icons {
    width: 50%;
    position: relative;
  }

  .logo-img {
    width: 125px;
    height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -3;
  }

  .under-logo {
    position: fixed;
    margin-top: -4px;
    margin-left: -8px;
    font-size: 12px;
    text-align: center;
    color: rgb(163, 162, 162);
    background-color: rgba(0, 0, 0, 0.925);
    width: 106px;
    height: 23px;
    padding-top: 12px;
    z-index: 9;
  }

  .search-icon {
    height: 28px;
    width: 28px;
    margin-left: 75%;
    padding-top: 10px;
    padding-right: 18px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
  }

  main {
    margin-top: 50px;
  }

  .gridHeading {
    display: flex;
    flex-direction: column;
  }

  .headingElementContainer1,
  .headingElementContainer2,
  .headingElementContainer3 {
    background-position: center;
    background-size: cover;
    justify-self: center;
    min-height: 15em;
    position: relative;
    margin: 0.25em 0 0.25em 0;
    z-index: -2;
  }

  .headingElementContainer1 > p,
  .headingElementContainer2 > p,
  .headingElementContainer3 > p {
    justify-items: flex-end;
    position: absolute;
    bottom: 20%;
  }

  .headingTitle,
  .headingCaption {
    margin-left: 15px;
  }

  .headingTitle {
    justify-items: flex-end;
    position: absolute;
    bottom: 15%;
    color: white;
    font-size: 14px;
    font-family: shentox, sans-serif;
  }

  .headingTitle > strong {
    font-family: avalon, sans-serif;
    font-size: 20px;
    line-height: 22px;
  }



  .headingCaption {
    position: absolute;
    bottom: 5%;
    font-family: arsMaquette, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #bbb;
  }

  .fas,
  .far {
    font-size: 22px;
    color: #777;
    filter: brightness(200%);
  }

  .headingHover:hover {
    filter: brightness(120%);
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    opacity: 1;
  }

  .headingElementContainer1 {
    flex: 0 1 200px;
    background-image: url(./assets/1.jfif);
    background-color: rgba(0, 0, 0, 1);
  }

  .headingElementContainer2 {
    background-image: url(./assets/2.jpg);
    background-color: black;
    background-color: rgba(0, 0, 0, 1);
  }

  .headingElementContainer3 {
    background-image: url(./assets/3.jpg);
    background-color: rgba(0, 0, 0, 1);
  }

  a {
    text-decoration: none;
  }

  figcaption {
    color: #666;
    margin-left: 50px;
    margin-top: 15px;
  }

  .latest-news a {
    color: #f42;
    font-weight: 700;
    line-height: 1.1;
    font-size: 2rem;
  }

  .gridBody {
    display: flex;
    flex-direction: column;
  }

  .gridBodyTitle {
    font-size: 100%;
    margin-top: -100px;
    margin-left: 50px;
  }

  .gridBodyimg {
    width: 75px;
    height: 75px;
    align-self: center;
  }

  .gridBodyContainers {
    width: 100%;
    height: 88px;
  }
  ol, ul {
    list-style: none;
    text-align: left;
    margin-left: -35px;
    line-height: 25px;
  }
  #fundingHeader {
    margin-left: 5px;
    color: #f42;
    font-size: 100%;
  }
  .investImage {
    height: 60px;
    width: 60px;
  }
  .investCardName {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    font-size: 1.4rem;
    background-color: #f42;
    color: #fff;
    height: 30px;
    width: 60%;
  }
  .investCardOption {
    display: inline ;
  }
  h4 {
    color: #f42;
    font-weight: 700;
    line-height: 1.25;
  }
}
